<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/fluidbox.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<title>Richo</title>

</head>
<body>


	<header>

		<div id="logo-container">
			<div id="logo"><a href="/">Cheng-Hsien Han</a></div>
			<div id="subtitle">Graduate Student, National Tsing Hua University, Taiwan</div>
		</div>
<!-- 		<nav>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li> 
				<li><a href="mailto:your@address.com" class="bordered">Contact</a></li>
			</ul>
		</nav> -->

	</header>

	<div id="content">

		<section class="intro">
			<!-- <h1>Hello, <span class="nl"></span>we are here to help you.</h1> -->
			<h1>Hello, this is Richo.</h1>
			<p>
				I'm currently working as Research Assistant in <a target="1" href="http://csclab.tw">CSCLab</a>. My research interests include Human Computer Interaction(HCI), Social Computing & Social Network Analysis.
			</p>
		</section>

		<section class="row">
			<div class="col-full">
				<h2>Profile</h2>
				<section class="row">
					<h3>Education</h3>
					<li>B.S., Dept. Computer Science, National Tsing Hua University, Taiwan, 2010~2014</li>
					<li>M.S., Dept. Computer Science, National Tsing Hua University, Taiwan, 2014~Now</li>
				</section>
			</div>
		</section>

		<section class="row">
			<div class="col-full">
				<h2>Experience</h2>
				<section class="row">
					<h3>Work</h3>
					<li>Internship Program<br>The Research Center for Information Technology Innovation, Academia Sinica - July 2013 ~ Present</li>
				</section>
			</div>
		</section>

		<section class="row">
			<div class="col-full">
				<h2>Publication</h2>
				<section class="row">
					<h3>Conference Papers(Non-archival)</h3>
					<li><b>Cheng-Hsien Han</b>, Chi-Lan Yang, & Hao-Chuan Wang (2014). <a target="1" href="http://dl.acm.org/citation.cfm?doid=2559206.2581204">"Supporting Second Language Reading with Picture Note-taking"</a>. Work-in-Progress in Proceedings of ACM Conference on Human Factors in Computing Systems (CHI) 2014.</li>
					<li>Hsing-Lin Tsai, <b>Cheng-Hsien Han</b>, En-Hsin Wu, Chi-Lan Yang, & Hao-Chuan Wang (2015). "Tag & Link: Supporting Regional and Relational Tagging in Images with Direct Annotation". Work-in-Progress in Proceedings of ACM Conference on Human Factors in Computing Systems (CHI) 2015.</li>
				</section>
				<section class="row">
					<h3>Conference Papers(Non-archival)</h3>
					<li>Yueh-Tung Chen, <b>Cheng-Hsien Han</b>, Hao-Wei Jeng & Hao-Chuan Wang (2014). <a target="1" href="http://link.springer.com/chapter/10.1007/978-3-319-11650-1_16">"Crowdsourcing 3D Motion Reconstruction"</a>. Poster in 12th International Symposium of Smart Graphics (SG) 2014.</li>
				</section>
			</div>
		</section>

		<!-- <section class="row">
			<div class="col-full">
				<h2>Projects</h2>
				<div class="photo-grid">
					<a href="img/example-photo-b.jpg" rel="lightbox" class="col-2"><img src="{{ url_for('static', filename='img/example-photo-b.jpg') }}" alt="Example photo"></a>
					<a href="img/example-photo-c.jpg" rel="lightbox" class="col-2"><img src="{{ url_for('static', filename='img/example-photo-c.jpg') }}" alt="Example photo"></a>
					<a href="img/example-photo-a.jpg" rel="lightbox" class="col-1"><img src="{{ url_for('static', filename='img/example-photo-a.jpg') }}" alt="Example photo"></a>
				</div>
			</div>
		</section> -->


		<section class="row">
			<div class="col">
				<h2>Contact</h2>
				<p>
					Just send me an <a href="mailto:richo2192000@gmail.com">email</a>.
				</p>
			</div>
			<div class="col">
				<h2>Social</h2>
				<p>
					I'm on <a href="https://twitter.com/richo2192000">Twitter</a>, <a href="https://github.com/RichoHan">Github</a> and <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">LinkedIn</a>.
				</p>
			</div>
		</section>


		<section class="row">
			<div class="col-full">
				<p>
					© 2014 - This website template is designed by <a href="http://www.pixelsbyrick.com">Rick Waalders</a>
				</p>
			</div>
		</section>
 
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
	if (!window.jQuery) 
	{
	    document.write('<script src="js/vendor/jquery.1.11.min.js"><\/script>');
	}
	</script>

	<script src="{{ url_for('static', filename='js/vendor/jquery.fluidbox.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'YOUR_GOOGLE_ANALYTICS_ID', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>

