<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Richo</title>
	<meta name="description" content="Richo's personal website.">
	<meta name="author" content="Rich Han">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Semantic-UI-1.7.3/semantic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="{{ url_for('static', filename='Semantic-UI-1.7.3/semantic.js') }}"></script>

</head>

<body>
	
	<div class="wrap">

		<div class="ui padded grid container">

			<div class="two column row topbar">
				<div class="column topbar_name">
					<div class="name">
						<h2 class="ui header">Richo Han</h2>
						<p>Computer Science</p>
					</div>
				</div>
				<div class="column">
					<div class="ui large text menu">
						<a class="active item home_btn">
							<i class="home icon"></i> Home
						</a>
						<a class="item resume_btn">
							<i class="user icon"></i> Resume
						</a>
						<a class="item contact_btn">
							<i class="mail icon"></i> Contact
						</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column content">
					<div class="homepage">
						<div class="ui middle aligned padded grid">
							<div class="two column row">
								<div class="column">
									<img class="ui medium centered circular image" src="{{ url_for('static', filename='images/face.jpg') }}">
								</div>
								<div class="column">
									<h2>Also known as Richo</h2>
									<p>I'm currently a graduate student in <a href="http://csclab.tw" target="a">CSCLab</a>(Collaborative & Social Computing Lab), CS, NTHU.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="resumepage">
						<h2 class="ui header">Resume</h2>
					</div>
					<div class="contactpage">
						<h2 class="ui header">Contact</h2>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="ui padded grid contact">
		<div class="row">
			<div class="column">
				<div class="information">
					<h4 class="ui inverted header">email: richo2192000@gmail.com</h4>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>